.loginform {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: #fcfcfc;
  gap: 1rem;
  width: 450px;
  height: 400px;
  border: 1px solid rgba(0, 0, 0, .2);
  box-shadow: 1px 1px 3px 1px rgba(0, 0, 0, .15);
  padding: 1rem;
}

.loginform button {
  display: flex;
  align-self: flex-end;
  justify-content: center;
  width: 100px;
}

.loginform input {
  padding: 5px;
  width: 100%;
}